.video-item-container {
  width: 100%;
  height: 300px;

  margin-bottom: 30px;
}
@media (min-width: 576px) {
  .video-item-container {
    width: 48%;
    margin-right: 10px;
  }
}
@media (min-width: 768px) {
  .video-item-container {
    width: 31%;
    height: 250px;
  }
}

.video-item-img {
  width: 100%;
}
.video-item-bottom-card {
  display: flex;
  align-items: flex-start;
  padding: 10px;
}
.channel-log-card {
}
.channel-logo {
  height: 40px;
}
@media (min-width: 768px) {
  .channel-logo {
    height: 20px;
  }
}
.video-item-desc-card {
  margin-left: 10px;
}
.video-item-views-card {
  display: flex;
  align-items: center;
  height: 30px;
}

.tablet-view-channel-name-card {
  display: flex;
  align-items: center;
}

@media (min-width: 576px) {
  .tablet-view-channel-name-card {
    display: none;
  }
}

@media (max-width: 575px) {
  .mobile-channel-name {
    display: none;
  }
}

.video-link {
  text-decoration: none;
  width: 100%;
}
