.home-bg-container {
  width: 100vw;
  height: 91vh;

  display: flex;
  align-items: flex-start;
}

.home-container {
  width: 100%;
  height: 91vh;

  overflow-y: auto;
}

.premium-view-container {
  height: 200px;
  width: 100%;
  padding: 20px;

  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-watch-banner-bg.png');
  background-size: cover;
}

.premium-view-website-logo {
  height: 30px;
}

.premium-view-para {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;

  color: #0f0f0f;
}

.get-it-button {
  background-color: transparent;

  width: 120px;
  height: 30px;
  margin-top: 20px;

  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;

  cursor: pointer;
  outline: none;
}

.premium-view-logo-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.premium-view-cancel-button {
  background-color: transparent;
  font-size: 20px;
  border-width: 0px;

  cursor: pointer;
  outline: none;
}

.loader-container {
  width: 100%;
  min-height: 60vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.list-videos {
  list-style-type: none;
  padding-left: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 576px) {
  .list-videos {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
}

.no-videos-view {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-videos-img {
  width: 60%;
}
@media (min-width: 768px) {
  .no-videos-img {
    width: 350px;
  }
}

.retry-button {
  height: 35px;
  width: 80px;

  border-width: 0px;
  background-color: #3b82f6;

  border-radius: 5px;

  font-family: 'Roboto';
  color: #ffffff;
  font-weight: 500;

  cursor: pointer;
  outline: none;
}
