.popup-content {
  width: 100vh;
  width: 100vw;

  padding: 0px;
}

.nav-items-container {
  list-style-type: none;
  padding-left: 0px;

  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-link {
  text-decoration: none;

  width: 200px;

  display: flex;
  align-items: center;
}
