.video-details-bg-container {
  display: flex;
  align-items: flex-start;

  height: 91vh;
  width: 100%;
}

.video-player-container {
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.video-title-card {
  width: 100%;
}

.video-player {
  width: 100% !important ;
}

.video-reviews-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 880px) {
  .video-player {
    width: 640px !important ;
  }

  .video-title-card {
    width: 640px;
  }
}

.video-reviews-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-reviews-left-card {
  display: flex;
  align-items: center;
}

.like-icon {
  margin-right: 5px;
  font-size: 18px;
}

.video-details-bottom-card {
  margin-top: 20px;
}

.channel-card {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.channel-img {
  height: 40px;
}

.channel-desc-card {
  margin-left: 10px;
}
